* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-size: 3vw;
}
h2 {
  font-size: 2vw;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

.center-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container.Desktop {
  background-color: rgb(75, 192, 192);
}
.container.Mobile-portrait {
  background-color: rgb(255, 99, 132);
}
.container.Mobile-landscape {
  background-color: rgb(255, 159, 64);
}
.container.Tablet-portrait {
  background-color: rgb(255, 205, 86);
}
.container.Tablet-landscape {
  background-color: rgb(153, 102, 255);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 120%;
  }
  h2 {
    font-size: 90%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
